.pane-bean-hero-banner {
  position: relative;
  text-align: center;

  .pane-title {
    @include SanFranciscoDisplay-Semibold;
    color: $white;
    font-size: 30px;
    letter-spacing: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    width: 80%;
    z-index: 2;
    top: 65%;
    transform: translate(0, -50%);
    padding-top: 10px;

    @include susy-media(768px) {
      padding-top: 50px;
      font-size: 36px;
      top: 50%;
    }

    @include susy-media(1024px) {
      padding-top: 10px;
    }

    @include susy-media(desktop) {
      line-height: 80px;
    }
  }
}

.box-hero {
  height: 200px;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;

  @include susy-media(tablet) {
    height: 280px;
  }

  &__image {
    position: relative;
    height: 100%;

    &:before {
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      background: rgba($black, .4);
      z-index: 1;
    }

    img {
      height: 100%;
      left: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      //-ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: auto;
      max-width: inherit;
      transition: .5s;
      left: 0\9;
      top: 0\9;
      transform: translate(0, 0)\9;

      @include susy-media(600px) {
        width: 100%;
        height: auto;
      }
    }
  }

  &__title {
    @include SanFranciscoDisplay-Semibold;
    color: $white;
    font-size: 30px;
    letter-spacing: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    width: 80%;
    z-index: 2;
    top: 65%;
    transform: translate(0, -50%);

    @include susy-media(768px) {
      font-size: 36px;
      top: 50%;
    }

    @include susy-media(desktop) {
      line-height: 80px;
    }
  }
}
