.box-accordion {
  &__item {
    border-bottom: 1px solid $gray-dd;
    padding-bottom: 10px;

    &:last-child {
      border: 0;
      padding-bottom: 0;
    }
  }

  &__question {
    color: $gray-2e;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 40px 18px 0;
    position: relative;
    text-transform: capitalize;

    @include susy-media(desktop) {
      font-size: 22px;
    }

    &:before {
      content: '\f107';
      display: inline-block;
      font-family: 'FontAwesome';
      font-size: 28px;
      font-weight: bold;
      position: absolute;
      right: 18px;
      top: 50%;
      // transform: translate(0, -50%);
      margin-top: -20px;
    }
  }

  &__answer {
    display: none;
  }
}
