.box-contact {
  text-align: center;

  &__title {
    @include SanFranciscoDisplay-Semibold;
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__info {
    font-size: 15px;
    margin-top: 20px;

    @include susy-media(desktop) {
      padding: 0 28px;
    }

    li {
      border-bottom: 1px dashed $gray-dd;
      text-align: left;
      padding: 5px 0;
    }
  }

  &__buy-ticket {
    margin-top: 43px;
  }
}
