.box-accordion {
  &__item {
    border-bottom: 1px solid $gray-dd;

    &:last-child {
      border: 0;
      padding-bottom: 0;
    }
  }

  &__question {
    color: $gray-2e;
    cursor: pointer;
    font-size: 17px;
    padding: 12px 40px 12px 0;
    position: relative;
    text-transform: capitalize;
    @include SanFranciscoDisplay-Semibold;

    &:before {
      content: '\f107';
      display: inline-block;
      font-family: 'FontAwesome';
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      right: 18px;
      top: 50%;
      // transform: translate(0, -50%);
      margin-top: -20px;
    }

    &:hover {
      color: $red-ee;
    }

    &.is-active {

    }
  }

  &__answer {
    display: none;
  }
}
