.main-content .box-menu {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 30px;
  border-radius: 5px;

  ul {
    

    li {
      border-bottom: 1px dashed $gray-dd;
      padding: 6px 0;

      a {
        color: #ed1651;
        font-size: 18px;
        text-transform: uppercase;
        position: relative;
        padding: 10px;
        font-weight: bold;

        &:hover {
          color: $primary-color;
        }

        &:before {
          background-color: #ed1651;
          content: "";
          height: 100%;
          left: -10px;
          position: absolute;
          top: 0;
          transition: all 0.3s ease-in-out 0s;
          width: 4px;
        }
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
