.box-intro {
  @extend %clearfix;

  &__video,
  &__slide {
    @include susy-media(tablet) {
      width: 50%;
      float: left;
    }

    video {
      width: 100%;
      height:auto;
      position: relative;
    }
  }

  &__video {
    line-height: 0;
  }

  // &__bg {
  //   bottom: 0;
  //   position: absolute;
  //   right: 0;
  //   top: 150%;
  //   width: 100%;
  //   z-index: 99;

  //   @include susy-media(tablet) {
  //     right: -100%;
  //     top: 0;
  //   }
    
  //    &:before {
  //      background: transparent url("../images/icon/icon-play.png") no-repeat scroll center center;
  //      content: "";
  //      height: 107px;
  //      left: 50%;
  //      top: 50%;
  //      margin-left: -53px;
  //      margin-top: -53px;
  //      position: absolute;
  //      width: 107px;
  //    }
  // }

  &__slide {
    position: relative;

    &__item {
      position: relative;
    }

    &__content {
      position: absolute;
      top: 0;
      left: 0;
      color: $white;
      padding: 20px;
      width: 100%;
      text-align: center;
      bottom: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      @include susy-media(640px) {
        padding: 30px 50px 30px 10px;
        width: 350px;
      }

      &:before {
        content: "";
        display: inline-block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
        background: rgba(#000, .8);

        @include susy-media(640px) {
          background: transparent url("../images/icon/bg-zone.png") no-repeat scroll left center / 100% auto;
          width: 350px;
        }

        @include susy-media(desktop-large) {
          background-size: 100% 100%;
        }
      }
    }

    &__image {
      position: relative;

      @include susy-media(640px) {
        right: -200px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }


    &__zone {
      font-size: 16px;
      font-weight: bold;
    }

    &__title {
      @include UVNAnhSang;
      font-size: 25px;
      line-height: .9;
      text-transform: uppercase;

      @include susy-media(640px) {
        font-size: 35px;
      }
    }

    &__body {
      font-size: 12px;
      padding-right: 25px;
      font-weight: bold;
      display: none;

      @include susy-media(640px) {
        display: block;
      }

      @include susy-media(tablet) {
        display: none;
      }

      @include susy-media(1025px) {
        display: block;
        font-size: 14px;
      }
    }

    &__link {
      padding-right: 25px;
      margin-bottom: 30px;
      display: none;

      @include susy-media(640px) {
        display: block;
      }

      a {
        border: 1px solid $white;
        padding: 10px 20px;
        font-size: 15px;
        font-weight: bold;
        color: $white;
        background: none;

        &:hover,
        &:focus,
        &:active {
          border: 0;
          background: #1b93d2; /* Old browsers */
          background: -moz-linear-gradient(top, #1b93d2 0%, #2f4292 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #1b93d2 0%, #2f4292 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #1b93d2 0%, #2f4292 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b93d2', endColorstr='#2f4292', GradientType=0); /* IE6-9 */
        }
      }
    }
  }

  .slick-arrow {
    top: 50%;
    width: 45px;
    height: 45px;
    margin-top: -23px;
    transition: .5s;
    visibility: hidden;
    opacity: 0;

    &.slick-prev {
      background: transparent url("../images/icon/arrow-left.png") no-repeat scroll 0 0;
      right: 0;
      text-align: left;
      background-size: 100% auto;
    }

    &.slick-next {
      background: transparent url("../images/icon/arrow-right.png") no-repeat scroll 0 0;
      right: -45px;
      text-align: right;
      background-size: 100% auto;
    }
  }

  &:hover {
    .slick-arrow {
      @include susy-media(tablet) {
        visibility: visible;
        opacity: 1;
      }

      &.slick-prev {
        margin-top: -45px;
        transition: .5s;
      }

      &.slick-next {
        margin-top: 0;
        transition: .5s;
      }
    }
  }
}

.box-intro-special {
  .box-intro {
    @extend %clearfix;

    &__video,
    &__slide {
      @include susy-media(tablet) {
        float: right;
      }
    }

    &__bg {
      @include susy-media(tablet) {
        right: inherit;
        left: -100%;
      }
    }

    &__slide {
      &__content {
        left: initial;
        right: 0;
        padding: 30px 10px 30px 50px;

        &:before {
          @include susy-media(640px) {
            background: transparent url("../images/icon/bg-location.png") no-repeat scroll left center / 100% auto;
          }
          left: initial;
          right: 0;

          @include susy-media(desktop-large) {
            background-size: 100% 100%;
          }
        }
      }

      &__image {
        right: 0;
        left: -200px;
      }

      &__body {
        padding-left: 25px;
        padding-right: 0;
      }

      &__link {
        padding-left: 25px;
        padding-right: 0;

        a {
          border: 1px solid $white;
          padding: 10px 20px;
          font-size: 15px;
          font-weight: bold;
          color: $white;
          background: none;

          &:hover,
          &:focus,
          &:active {
            border: 0;
            background: #ffcc00; /* Old browsers */
            background: -moz-linear-gradient(top, #ffcc00 0%, #ff8e00 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #ffcc00 0%,#ff8e00 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #ffcc00 0%,#ff8e00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff8e00',GradientType=0 );
          }
        }
      }
    }
  }

  .slick-arrow {
    &.slick-prev {
      left: -45px;
      right: initial;
    }

    &.slick-next {
      left: 0;
      right: initial;
    }
  }
}