<div class="box-image-attraction">
  <div class="box-image-attraction__image">
    <img src="../images/image-demo/attraction.jpg">
  </div>
  <div class="box-image-attraction__content">
    <div class="box-image-attraction__inner js-slide-attraction">
      <div class="box-image-attraction__item">
        <div class="box-image-attraction__icon">
          <img src="../images/image-demo/icon1.png">
        </div>
        <h2 class="box-image-attraction__title">King Cobra</h2>
        <div class="box-image-attraction__body">
          <p>On two-person floats, visitors ride a half pipe at a 90-degree slope. Get ready to scream at this adrenaline rush.</p>
        </div>
        <a href="contact-us.html" class="btn btn--large">Buy tickets</a>
      </div>
      <div class="box-image-attraction__item">
        <div class="box-image-attraction__icon">
          <img src="../images/image-demo/icon1.png">
        </div>
        <h2 class="box-image-attraction__title">King Cobra 2</h2>
        <div class="box-image-attraction__body">
          <p>On two-person floats, visitors ride a half pipe at a 90-degree slope. Get ready to scream at this adrenaline rush.</p>
        </div>
        <a href="contact-us.html" class="btn btn--large">Buy tickets</a>
      </div>
      <div class="box-image-attraction__item">
        <div class="box-image-attraction__icon">
          <img src="../images/image-demo/icon1.png">
        </div>
        <h2 class="box-image-attraction__title">King Cobra 3</h2>
        <div class="box-image-attraction__body">
          <p>On two-person floats, visitors ride a half pipe at a 90-degree slope. Get ready to scream at this adrenaline rush.</p>
        </div>
        <a href="contact-us.html" class="btn btn--large">Buy tickets</a>
      </div>
    </div>
    <a href="attractions.html" class="btn-image-attraction">Attractions</a>
  </div>
</div>

