{% block boxNavigation %}
  <div class="box-weather">
    <div class="box-weather__image">
      <img src="../images/image-demo/weather-bg.png">
    </div>
    <div class="box-weather__content">
      <h2 class="block-title">Weather</h2>
      <div class="box-weather__decription">The Typhoon Water Park continues to operate in the event of rain.
  The activity to be performed at Typhoon Water Park stop in case of lightning</div>
      <div class="box-weather__temple">
        <span class="sun">30</span>
        <span class="status">
          <label>Beach Park is now:</label>
          <span>Open</span>
        </span>
      </div>
    </div>
  </div>
{% endblock %}
