<div class="block-tabs {{ tabs_background }}">
  <div class="container">
    <div class="block-tabs__switcher">
      <a href="" class="tab-ticket js-block-tab-switcher active" data-index="0">Buy ticket</a>
      <a href="" class="tab-hotel js-block-tab-switcher" data-index="1">Buy Hotel</a>
    </div>
    <div class="block-tabs__container">
      <div class="block-tabs__container__tab active" data-index="0">
        <form class="form-booking">
          <div class="form-item">
            <select class="selectpicker">
              <option title="0 Individual (+1...">0 Individual (+1...</option>
              <option title="2 Individual (+1...">1 Individual (+1...</option>
              <option title="3 Individual (+1...">3 Individual (+1...</option>
            </select>
          </div>
          <div class="form-item">
            <select class="selectpicker">
              <option title="0 Junior  (+1...">0 Junior  (+1...</option>
              <option title="Combo 2">1 Junior  (+1...</option>
              <option title="Combo 3">3 Junior  (+1...</option>
            </select>
          </div>
          <div class="form-item">
            <select class="selectpicker">
              <option title="0 Senior (+1...">0 Senior (+1...</option>
              <option title="Combo 2">1 Senior (+1...</option>
              <option title="Combo 3">3 Senior (+1...</option>
            </select>
          </div>
          <div class="form-item">
            <select class="selectpicker">
              <option title="0 Handicapped (+1...">0 Handicapped (+1...</option>
              <option title="Combo 2">1 Handicapped (+1...</option>
              <option title="Combo 3">3 Handicapped (+1...</option>
            </select>
          </div>
          <div class="form-item">
            <select class="selectpicker">
              <option title="0 Large Family (+1...">0 Large Family (+1...</option>
              <option title="Combo 2">1 Large Family (+1...</option>
              <option title="Combo 3">3 Large Family (+1...</option>
            </select>
          </div>
          <div class="form-wrap form-item">
            <button>Buy tickets</button>
          </div>
        </form>
      </div>
      <div class="block-tabs__container__tab" data-index="1">
        <form class="form-booking">
          <div class="form-item">
            <select class="selectpicker">
              <option title="0 Individual (+1...">0 Individual (+1...</option>
              <option title="2 Individual (+1...">1 Individual (+1...</option>
              <option title="3 Individual (+1...">3 Individual (+1...</option>
            </select>
          </div>
          <div class="form-item">
            <select class="selectpicker">
              <option title="0 Junior  (+1...">0 Junior  (+1...</option>
              <option title="Combo 2">1 Junior  (+1...</option>
              <option title="Combo 3">3 Junior  (+1...</option>
            </select>
          </div>
          <div class="form-item">
            <select class="selectpicker">
              <option title="0 Senior (+1...">0 Senior (+1...</option>
              <option title="Combo 2">1 Senior (+1...</option>
              <option title="Combo 3">3 Senior (+1...</option>
            </select>
          </div>
          <div class="form-item">
            <select class="selectpicker">
              <option title="0 Handicapped (+1...">0 Handicapped (+1...</option>
              <option title="Combo 2">1 Handicapped (+1...</option>
              <option title="Combo 3">3 Handicapped (+1...</option>
            </select>
          </div>
          <div class="form-item">
            <select class="selectpicker">
              <option title="0 Large Family (+1...">0 Large Family (+1...</option>
              <option title="Combo 2">1 Large Family (+1...</option>
              <option title="Combo 3">3 Large Family (+1...</option>
            </select>
          </div>
          <div class="form-item form-wrap">
            <button>Booking Hotel</button>
          </div>
        </form>
      </div>
  </div>
  </div>
</div>
