<div class="box-grid-service">
  <div class="box-grid-service__item">
    <div class="box-grid-service__image">
      <img src="../images/service/service.jpg">
    </div>
    <div class="box-grid-service__content">
      <div class="box-grid-service__description">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <a href="#" class="btn">View more</a>
    </div>
    <div class="box-grid-service__icon">
      <img src="../images/icon/food-drink.png">
      <div class="title">Food and Drink</div>
    </div>
  </div>
  <div class="box-grid-service__item">
    <div class="box-grid-service__image">
      <img src="../images/service/service2.jpg">
    </div>
    <div class="box-grid-service__content">
      <div class="box-grid-service__description">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <a href="#" class="btn">View more</a>
    </div>
    <div class="box-grid-service__icon">
      <img src="../images/icon/retails.png">
      <div class="title">Food and Drink</div>
    </div>
  </div>
  <div class="box-grid-service__item">
    <div class="box-grid-service__image">
      <img src="../images/service/service3.jpg">
    </div>
    <div class="box-grid-service__content">
      <div class="box-grid-service__description">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <a href="#" class="btn">View more</a>
    </div>
    <div class="box-grid-service__icon">
      <img src="../images/icon/atm.png">
      <div class="title">Food and Drink</div>
    </div>
  </div>
  <div class="box-grid-service__item">
    <div class="box-grid-service__image">
      <img src="../images/service/service4.jpg">
    </div>
    <div class="box-grid-service__content">
      <div class="box-grid-service__description">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <a href="#" class="btn">View more</a>
    </div>
    <div class="box-grid-service__icon">
      <img src="../images/icon/icon-firstAid.png">
      <div class="title">Food and Drink</div>
    </div>
  </div>
  <div class="box-grid-service__item">
    <div class="box-grid-service__image">
      <img src="../images/service/service1.jpg">
    </div>
    <div class="box-grid-service__content">
      <div class="box-grid-service__description">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <a href="#" class="btn">View more</a>
    </div>
    <div class="box-grid-service__icon">
      <img src="../images/icon/icon-shirt.png">
      <div class="title">Food and Drink</div>
    </div>
  </div>

</div>
