<div class="box-gmap margin-top-30">
  <div class="box-gmap__map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.9152533071438!2d107.04780744913772!3d20.95591819557148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a58f4f1315789%3A0x68b783c7ba0c962b!2sSun+World+H%E1%BA%A1+Long+Park!5e0!3m2!1svi!2s!4v1488624688999" width="1920" height="495" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="box-gmap__content">
    <div class="box-gmap__inner">
      <h2 class="block-title">contact</h2>
      <h3>Email</h3>
      <p>Contact@typhoon-park.com</p>
      <h3>Phone</h3>
      <p>(+84) 123 456 789</p>
      <h3>Fax</h3>
      <p>(+84) 123 456 710</p>
    </div>
  </div>
</div>
