{% block boxshare %}
  <div class="box-share">
    <h2 class="box-share__title">Share</h2>
    <div class="box-share__description"><p>Share this page with your friends & family</p></div>
    <ul class="box-share__link">
      <li class="facebook"><a href="#"><i class="fa fa-facebook"></i>699</a></li>
      <li class="facebook"><a href="#"><i class="fa fa-twitter"></i>1k</a></li>
      <li class="facebook"><a href="#"><i class="fa fa-google-plus"></i>699</a></li>
    </ul>
  </div>
{% endblock %}
