<div class="box-have-fun">
  <div class="box-have-fun__image">
    <img src="../images/image-demo/have-fun.jpg">
  </div>
  <div class="box-have-fun__content">
    <h2 class="box-have-fun__title">Come <b>Have Fun</b> Share</h2>
    <a href="gallery.html" class="btn--border">View Gallery</a>
  </div>
</div>

