<div class="block-hero-video">
  <div class="block-hero-video__video">
    <video width="1280" height="720" muted="true" loop="loop" autoplay="true" preload="auto">
      <source src="../images/video-demo/demo.mp4" type="video/mp4">
    </video>
  </div>
  <div class="block-hero-video__content">
    <div class="container">
      <h1 class="block-hero-video__title">passionate with typhoon water park</h1>
      <div class="block-hero-video__body"><p>passionate with typhoon water park</p></div>
      <a href="contact-us.html" class="btn btn--large">Buy tickets</a>
    </div>
  </div>
</div>
