{% block boxInfo %}
  <div class="box-info bg-blue">
    <div class="box-info__zone">
      <h2 class="title">Turbulence Rapids</h2>
      <div class="zone">Zone 1</div>
    </div>
    <div class="box-info__deal">
      <h2 class="title">Deals</h2>
      <ul>
        <li class="preformance">preformance</li>
        <li class="family">Family</li>
        <li class="person">Person with disability</li>
      </ul>
    </div>
    <div class="box-info__turn">
      <h2 class="title">turn</h2>
      <div class="turn">5 turn</div>
    </div>
    <div class="box-info__buy-ticket">
      <a href="contact-us.html" class="btn btn--icon-ticket">Buy ticket</a>
    </div>
  </div>
{% endblock %}
