{% block boxContact %}
  <div class="box-contact bg-image">
    <h2 class="box-contact__title">Typhoon Water Park</h2>
    <div class="box-contact__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <ul class="box-contact__info">
      <li><i class="fa fa-phone"></i> Hotline: 033 3618 1111</li>
      <li><i class="fa fa-mobile"></i> Phone: 09123 10691</li>
      <li><i class="fa fa-envelope"></i> Support@typhoon.com</li>
    </ul>
    <div class="box-contact__buy-ticket">
      <a href="contact-us.html" class="btn btn--icon-ticket">Buy ticket</a>
    </div>
  </div>
{% endblock %}
