<div class="box-schedule">
  <div class="box-schedule__image">
    <img src="../images/image-demo/bg-schedule.png">
  </div>
  <div class="box-schedule__content">
    <h2 class="block-title">Schedule</h2>
    <div class="box-schedule__description">
      Typhoon Water Park will open on Mondays <b>the 8th of Jun 2017.</b>
      <b>Take a look</b> at our <b>calendar</b> here.
    </div>
    <div class="box-schedule__content__inner">
      <div class="box-schedule__content__left">
        <div class="box-schedule__season">Hight season</div>
        <ul class="box-schedule__month">
          <li>MAR</li>
          <li>APR</li>
          <li>MAY</li>
          <li>JUN</li>
          <li>JULY</li>
          <li>AUG</li>
        </ul>
        <div class="box-schedule__time">9:30 - 17:00</div>
      </div>
      <div class="box-schedule__content__right">
        <div class="box-schedule__season">Low season</div>
        <ul class="box-schedule__month">
          <li>SEP</li>
          <li>OCT</li>
          <li>NOV</li>
          <li>DEC</li>
          <li>JAN</li>
          <li>FEB</li>
        </ul>
        <div class="box-schedule__time">9:30 - 15:00</div>
      </div>
    </div>
    <p>*The operation of the slide stops 15 minutes before the closing of the park</p>
    <a href="service.html" class="btn btn--large">More Details</a>
  </div>
</div>

