{% block boxHero %}
  <div class="box-hero">
    <div class="box-hero__image">
      <img src="../images/image-demo/baby-play.jpg">
    </div>
    <h2 class="box-hero__title">Typhoon Water Park</h2>
  </div>
{% endblock %}
