<div class="box-explore">
  <div class="box-explore__image">
    <ul class="js-full-slide">
      <li><img src="../images/slide/slide1.jpg"></li>
      <li><img src="../images/slide/slide2.jpg"></li>
      <li><img src="../images/slide/slide3.jpg"></li>
      <li><img src="../images/slide/slide1.jpg"></li>
      <li><img src="../images/slide/slide2.jpg"></li>
      <li><img src="../images/slide/slide3.jpg"></li>
      <li><img src="../images/slide/slide1.jpg"></li>
      <li><img src="../images/slide/slide3.jpg"></li>
    </ul>
  </div>
  <div class="box-explore__content">
    <div class="box-explore__content__inner">
      <ul class="box-explore__list">
        <li class="active">
          <span class="image"><img src="../images/icon/icon1.png"></span>
          <span class="text"><span>Explore</span></span>
        </li>
        <li>
          <span class="image"><img src="../images/icon/icon1.png"></span>
          <span class="text"><span>Explore 2</span></span>
        </li>
        <li>
          <span class="image"><img src="../images/icon/icon1.png"></span>
          <span class="text"><span>Explore 3</span></span>
        </li>
        <li>
          <span class="image"><img src="../images/icon/icon1.png"></span>
          <span class="text"><span>Explore 4</span></span>
        </li>
        <li>
          <span class="image"><img src="../images/icon/icon1.png"></span>
          <span class="text"><span>Explore 5</span></span>
        </li>
        <li>
          <span class="image"><img src="../images/icon/icon1.png"></span>
          <span class="text"><span>Explore 6</span></span>
        </li>
        <li>
          <span class="image"><img src="../images/icon/icon1.png"></span>
          <span class="text"><span>Explore 7</span></span>
        </li>
        <li>
          <span class="image"><img src="../images/icon/icon1.png"></span>
          <span class="text"><span>Explore 8</span></span>
        </li>
      </ul>
    </div>
  </div>
</div>
