{% block boxSearch %}
  <div class="box-search">
    <form>
      <div class="form-item">
        <input type="text" maxlength="60" size="60" class="form-text" placeholder="Ask question...">
      </div>
      <div class="form-actions">
        <button><i class="fa fa-search"></i></button>
      </div>
    </form>
  </div>
{% endblock %}
