<d{# iv id="slideBox">
  <div id="main-image" class="sliderMain">
    <div><img src="http://placehold.it/900x500"></div>
    <div><img src="http://placehold.it/900x500"></div>
    <div><img src="http://placehold.it/900x500"></div>
    <div><img src="http://placehold.it/900x500"></div>
    <div><img src="http://placehold.it/900x500"></div>
    <div id="slide-video">
      <video width="900px" id="theVideo">
        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" />
      </video>
    </div>
  </div>

</div><!--slideBox-->
 #}
<div class="box-hero-slide js-hero-slide">
  <div class="box-hero-slide__item">
    <div class="box-hero-slide__image">
      <img src="../images/image-demo/image-slide1.jpg">
    </div>
    <div class="box-hero-slide__content">
      <div class="container">
        <h1 class="box-hero-slide__title">passionate with typhoon water park</h1>
        <div class="box-hero-slide__body"><p>passionate with typhoon water park</p></div>
        <a href="contact-us.html" class="btn btn--large">Buy tickets</a>
      </div>
    </div>
  </div>
  <div class="box-hero-slide__item">
    <div class="box-hero-slide__image">
      <img src="../images/image-demo/image-slide2.jpg">
    </div>
    <div class="box-hero-slide__content">
      <div class="container">
        <h1 class="box-hero-slide__title">passionate with typhoon water park</h1>
        <div class="box-hero-slide__body"><p>passionate with typhoon water park</p></div>
        <a href="contact-us.html" class="btn btn--large">Buy tickets</a>
      </div>
    </div>
  </div>
  <div class="box-hero-slide__item">
    <div class="box-hero-slide__video">
      <video width="1280" height="720" muted="true" loop="loop" autoplay="true" preload="auto" id="theVideo">
        <source src="../images/video-demo/video-demo.mp4" type="video/mp4">
      </video>
    </div>
    <div class="box-hero-slide__content">
      <div class="container">
        <h1 class="box-hero-slide__title">passionate with typhoon water park</h1>
        <div class="box-hero-slide__body"><p>passionate with typhoon water park</p></div>
        <a href="contact-us.html" class="btn btn--large">Buy tickets</a>
      </div>
    </div>
  </div>
  <div class="box-hero-slide__item">
    <div class="box-hero-slide__image">
      <img src="../images/image-demo/image-slide3.jpg">
    </div>
    <div class="box-hero-slide__content">
      <div class="container">
        <h1 class="box-hero-slide__title">passionate with typhoon water park</h1>
        <div class="box-hero-slide__body"><p>passionate with typhoon water park</p></div>
        <a href="contact-us.html" class="btn btn--large">Buy tickets</a>
      </div>
    </div>
  </div>
</div>
