{% block boxDetail %}
  <div class="container">
    <div class="content-sidebar__content">
      {% include "form-contact.twig" %}
    </div>
    <div class="content-sidebar__sidebar">
      {% include "box-contact.twig" %}
      {% include "box-menu.twig" %}
      {% include "box-share.twig" %}
    </div>
  </div>
{% endblock %}
