{% block breadcrumb %}
  <div class="container">
    <nav class="breadcrumb">
      <ol>
        <li><a href="#">Home</a></li>
        <li><a href="#">Plan your visit</a></li>
        <li class="current"><a href="#">Opening day</a></li>
      </ol>
    </nav>
  </div>
{% endblock %}
