{% block button %}
<div class="container">
  <p><a class="btn" href="#">Default</a></p>
  <p><a class="btn btn--icon-ticket" href="#">Buy Ticket</a></p>
  <p><a class="btn btn--icon-direct" href="#">Direct</a></p>
</div>
{% endblock %}
