{% block heading %}
<div class="container">
  <h1 id="page-title">Page title</h1>
  <h2 class="block-title">Block title</h2>
  <h1>H1 | UTMAvo | 30px</h1>
  <h2>H2 | UTMAvo | 24px</h2>
  <h3>H3 | UTMAvo | 20px</h3>
  <h4>H4 | UTMAvo | 18px</h4>
  <h5>H5 | UTMAvo | 16px</h5>
  <h6>H6 | UTMAvo | 14px</h6>
</div>
{% endblock %}
