{% block boxDetail %}
  <div class="container">
    <div class="content-sidebar__content">
      <div class="box-ticket-price">
        <h2 class="block-title">PRICE LIST OF TYPHOON WATER PARK</h2>
        <div class="text-center description">(From 25/1/2017 to 5/3/2017)</div>
        <table>
          <thead>
            <tr>
              <th>Ticket Type</th>
              <th>Online</th>
              <th>Offline</rh>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Adults</td>
              <td>299.000 VNĐ</td>
              <td>299.000 VNĐ</td>
            </tr>
            <tr>
              <td>Senior (older than 65 years)</td>
              <td>299.000 VNĐ</td>
              <td>299.000 VNĐ</td>
            </tr>
            <tr>
              <td>Travel Agency</td>
              <td>Contact hotline :033 3618 1111</td>
              <td>Contact hotline :033 3618 1111</td>
            </tr>
            <tr>
              <td>Student group</td>
              <td>Buy 15 get 1 free</td>
              <td>Buy 15 get 1 free</td>
            </tr>
            <tr>
              <td>Children (90 – 130 cm)</td>
              <td>299.000 VNĐ</td>
              <td>299.000 VNĐ</td>
            </tr>
            <tr>
              <td>Children (under 90cm)</td>
              <td>Free</td>
              <td>Free</td>
            </tr>
            <tr>
              <td>Other groups</td>
              <td>Buy 20 get 1 free</td>
              <td>Buy 20 get 1 free</td>
            </tr>
          </tbody>
        </table>
        <div class="note">
          <p>Check easily and quickly our best available rate for every day at any time in our Price Calendar.
  Enjoy the online purchase benefits: avoid queues, find the best discounts and some other advantages such as Flexiticket. * Prices “Ticket office from” will not vary during the day from the Park openning till its closure. You will know Main Gate rate before going to the Park by checking our online Price Calendar or calling our Call Center +34 902 024 100.</p>
        </div>
      </div>
    </div>
    <div class="content-sidebar__sidebar">
      {% include "box-contact.twig" %}
      {% include "box-share.twig" %}
    </div>
  </div>
{% endblock %}
