// Footer.
.footer {
  position: relative;
  z-index: 9;

  &__bg {
    background: transparent url("../images/icon/bg-footer.png") no-repeat scroll center top;
    height: 125px;
    margin-top: 30px;
  }

  &__top {
    background: $blue-09;
    padding: 35px 0 25px;
  }

  &__bottom {
    background-color: #140e1c;
    text-align: center;
    color: $white;
    padding: 15px 0;
    border-top: 1px solid $blue-22;
    position: relative;
    z-index: 3;
    line-height: 0; 

    @include susy-media(tablet) {
      padding: 18px 0;
    }

    .region-footer {
      line-height: 1.5;
    }

    p {
      margin-bottom: 0;

      @include susy-media(mobileOnly) {
        font-size: 12px;
      }

      a {
        color: $white;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .box-menu {
    background: none;
    border: 0;
    padding: 0;
    border-radius: 0;
    margin: 0;

    &__title {
      display: none;
    }

    &__link {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        border: 0;
        padding: 0 15px;

        a {
          @include SanFranciscoDisplay-Regular;
          color: $primary-color;
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}

.block-help {
  position: absolute;
  right: 15px;
  bottom: 10px;
  line-height: 0;
  height: 9px;
  z-index: 2;

  * {
    line-height: 0;
  }

  @include susy-media(tablet) {
    right: 40px;
  }

  @include susy-media(desktop-wide) {
    right: 10%;
    bottom: 0;
  }

  a {
    background: url('../images/help.png') no-repeat scroll 0 0 transparent;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-origin: padding-box;
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    bottom: 0;
    display: inline-block;
    font-size: 0;
    height: 90px;
    position: absolute;
    right: 10%;
    width: 100px;

    @include susy-media(desktop) {
      width: 150px;
      height: 100px;
      right: 8%;
    }

    @include susy-media(desktop-wide) {
      height: 135px;
      width: 170px;
    }
  }

  .contextual-links-wrapper {
    display: none !important;
  }
}

.block-back-to-top {
  position: absolute;
  top: -37px;
  right: 15px;
  display: none;

  @include susy-media(tablet) {
    right: 40px;
  }

  @include susy-media(desktop-wide) {
    right: 10%;
    top: -35px;
  }

  a {
    background: url('../images/backtop.png') no-repeat scroll 0 0 transparent;
    display: inline-block;
    background-size: 100% auto;
    font-size: 0;
    width: 50px;
    height: 50px;

    @include susy-media(desktop-wide) {
      width: 70px;
      height: 70px;
    }
  }
}
