// Header.
.admin-menu {
  .header {
    &__top {
      top: 29px;
    }
  }
}

.header {
  position: relative;
  z-index: 99;

  &__top {
    // display: flex;
    // justify-content: space-between;
    text-align: center;
    position: fixed;
    z-index: 9;
    top: -1px;
    left: 0;
    right: 0;
    transition: .5s;

    &.is-active {
      background: rgba($white, .9);

      .header {
        &__logo {
          padding-top: 10px;
          padding-bottom: 10px;

          @include susy-media(tablet) {
            padding-top: 5px;
          }

          @include susy-media(desktop) {
            transition: .5s;
            padding-bottom: 0;
          }

          a {
            @include susy-media(desktop) {
              max-width: 155px;
              transition: .5s;
            }
          }
        }
        &__left,
        &__right {
          padding-top: 10px;
          padding-bottom: 10px;
          transition: .5s;
        }


        &__menu {
          @include susy-media(desktop-wide) {
            padding-top: 100px;
          }
        }
      }

      .language-icon {
        background: transparent url("../images/icon-flags.png") no-repeat scroll 0 0 / 100% auto;
        transition: .5s;
      }

      .menu-icon {
        @include susy-media(desktop-wide) {
          width: 87px;
          transition: .5s;
        }
      }
    }
  }

  &__left,
  &__right {
    width: 35%;
    position: absolute;
    top: 0;
    padding-top: 20px;
    transition: .5s;
  }

  &__left {
    left: 0;
    width: 100%;

    @include susy-media(mobileOnly) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

    }
  }

  &__right {
    right: 0;
    height: 30px;
  }

  &__icon-menu {

    &:hover {
      @include susy-media(1025px) {
        .header {
          &__menu {
            transform: translate(0, 0);
            transition: .5s;
            opacity: 1;
          }
        }
      }
    }
  }

  .menu-icon {
    font-size: 0;
    cursor: pointer;
    height: 40px;
    width: 101px;
    background: transparent url('../images/icon/icon-menu.png') no-repeat scroll 0 0 / 100% auto;
    float: left;
    z-index: 22;
    position: relative;
    transition: .5s;
    width: 87px;
    left: 0;

    &.is-active {
      background: transparent url('../images/icon/menu-active.png') no-repeat scroll 0 0 / 100% auto;
      left: -30px;
      transition: .5s;
    }
  }

  .language-icon {
    font-size: 0;
    cursor: pointer;
    height: 29px;
    background: transparent url("../images/icon-flags.png") no-repeat scroll 0 0 / 100% auto;
    float: left;
    z-index: 22;
    position: relative;
    transition: .5s;
    width: 28px;

    &.active {
      background-position: center bottom;
    }
  }

  &__logo {
    display: inline-block;
    position: relative;
    text-align: center;
    transition: .5s;
    width: 100%;
    z-index: 1;
    padding-top: 15px;

    @include susy-media(tablet) {
      width: 50%;
    }

    a {
      display: inline-block;
      transition: .5s;
      position: relative;
      width: 40%;
      max-width: 100px;

      @include susy-media(tablet) {
        max-width: 125px;
      }

      @include susy-media(desktop) {
        max-width: 160px;
      }

      @include susy-media(desktop-wide) {
        max-width: 230px;
      }
    }
  }

  &__right {
    display: none;

    @include susy-media(tablet) {
      display: block;
    }
  }

  &__menu {
    background: rgba($white, .9);
    left: 0;
    opacity: 0;
    padding-bottom: 10px;
    padding-top: 70px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0, -100%);
    transition: .5s;
    text-align: left;

    @include susy-media(tablet) {
      padding-bottom: 30px;
      padding-top: 100px;
    }

    @include susy-media(desktop-wide) {
      //padding-top: 120px;
    }

    &.is-active {
      transform: translate(0, 0);
      transition: .5s;
      opacity: 1;
      position: fixed;
      bottom: 0;
      overflow: auto;
    }

    .header {
      &__social,
      &__search {
        padding: 0;
        float: none;
        clear: both;
        margin-bottom: 15px;

        @include susy-media(tablet) {
          display: none;
        }

        li {
          display: inline-block;
          float: none;
          font-size: 16px;
          margin: 0 10px;
          text-align: center;

          @include susy-media(tablet) {
            font-size: 25px;
          }
        }

        .form-text {
          margin-bottom: 0;
          height: 35px;
        }

        .social-link {
          float: none;
        }

        .form-actions::before {
          line-height: 32px;
        }
      }

      &__social {
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }

  .social-link {
    display: inline-block;
    float: right;
    background: #172ba1;
    border-radius: 20px;
    padding: 5px 10px;

    li {

      @include susy-media(tablet) {
        margin: 0 7px;
        float: left;
      }

      @include susy-media(1025px) {
        margin: 0 10px;
      }

      a {
        color: $white;

        @include susy-media(desktop-wide) {
          font-size: 16px;
        }

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  &__search {
    float: right;
    position: relative;
    text-align: left;
  }

  &__social {
    float: right;
    padding-right: 10px;
    opacity: 1;
    transition: .5s;
    min-width: 170px;

    &.is-active {
      .box-social {
        opacity: 0;
        transition: .5s;
        z-index: -1;
      }
    }

    .language-switcher-locale-url {
      margin-bottom: 10px;
    }

    .box-social {
      transition: .5s;
      opacity: 1;
      position: relative;
      z-index: 2;
    }

    .bean-link a {
      background: #ed1651;
      border-radius: 20px;
      color: #fff;
      display: inline-block;
      padding: 5px 10px 5px 50px;
      text-transform: uppercase;
      font-family: helvetica;
      display: none;
      position: relative;

      &:before {
        background: transparent url("../images/icon/icon-ticket.png") no-repeat scroll 10px center;
        content: "";
        height: 20px;
        left: 0;
        margin-top: -10px;
        position: absolute;
        top: 50%;
        width: 40px;
      }

      @include susy-media(desktop-large) {
        display: block;
      }

      @include susy-media(desktop-wide) {
        font-size: 14px;
        line-height: 1;
        padding: 12px 15px 8px 50px;
      }

      &:hover {
        background: rgba(237,22,80,1);
        background: -moz-linear-gradient(left, rgba(237,22,80,1) 0%, rgba(239,71,37,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,22,80,1)), color-stop(100%, rgba(239,71,37,1)));
        background: -webkit-linear-gradient(left, rgba(237,22,80,1) 0%, rgba(239,71,37,1) 100%);
        background: -o-linear-gradient(left, rgba(237,22,80,1) 0%, rgba(239,71,37,1) 100%);
        background: -ms-linear-gradient(left, rgba(237,22,80,1) 0%, rgba(239,71,37,1) 100%);
        background: linear-gradient(to right, rgba(237,22,80,1) 0%, rgba(239,71,37,1) 100%);
      }
    }
  }

  &__language {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: 4px;
    display: none;

    &:hover {
      .region-header-left {
        opacity: 1;
        top: 43px;
        transition: all 0.5s ease 0s;
        visibility: visible;
        z-index: 9;
      }
    }

    @include susy-media(tablet) {
      display: block;
    }

    .region-header-left {
      background: #fff none repeat scroll 0 0;
      border: 4px solid #fed217;
      border-radius: 10px;
      font-weight: bold;
      left: -15px;
      padding: 8px 13px;
      position: absolute;
      text-align: left;
      top: 63px;
      width: 110px;
      transition: .5s;
      opacity: 0;
      z-index: -1;
      visibility: hidden;

      &.is-active {
        transition: .5s;
        top: 43px;
        opacity: 1;
        z-index: 9;
        visibility: visible;
      }

      &:before {
        border-bottom: 8px solid #fed217;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        content: "";
        display: inline-block;
        height: 0;
        left: 18px;
        position: absolute;
        top: -12px;
        width: 0;
      }

      li + li {
        margin-top: 6px;
      }

      a {
        color: #555;

        &.active,
        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .block-bean {
    @include susy-media(tablet) {
      float: right;
      margin: 0 10px;
    }
  }

  &__intro {
    @include susy-media(tablet) {
      width: 76%;
      float: left;
    }
  }

  .region-header-intro-right {
    display: none;

    @include susy-media(tablet) {
      width: 24%;
      float: left;
      padding-top: 17px;
      display: block;
    }

    .block-bean {
      margin: 0;
    }

    .box-image {
      line-height: 0;
    }
  }
  
  .region-header-intro {
    display: none;

    @include susy-media(tablet) {
      display: block;
    }

    .block-bean {
      float: left;
      margin: 0;
      padding-right: 30px;
      position: relative;
      width: 33.33%;

      h2 {
        @include SanFranciscoDisplay-Semibold;
        text-transform: uppercase;
        position: absolute;
        bottom: 15px;
        right: 50px;
        color: $white;
        z-index: 1;
        font-size: 16px;
        margin-bottom: 0;
      }

      .box-image {
        border-radius: 30px 0;
        line-height: 0;
        overflow: hidden;
      }
    }
  }
}
