{% block footer %}
  <footer class="footer">
    <div class="footer__bg"></div>
    <div class="footer__top clearfix">
      <div class="container">
                  <div id="main-menu" class="navigation">
                  <ul class="menu"><li class="first expanded"><a href="expolore-the-park.html" title="">Explore the Park</a><ul class="menu"><li class="first leaf"><a href="attractions.html" title="" class="active">Attractions</a></li>
                  <li class="leaf"><a href="children.html" title="" class="active">Children’s músements</a></li>
                  <li class="leaf"><a href="scenic.html" title="" class="active">Scenic Ảchitecture</a></li>
                  <li class="leaf"><a href="retail.html" title="" class="active">Retails</a></li>
                  <li class="leaf"><a href="restaurent.html" title="" class="active">Restaurant</a></li>
                  <li class="last leaf"><a href="service.html" title="" class="active">Other services</a></li>
                  </ul></li>
                  <li class="expanded"><a href="plan-your-visit.html" title="" class="active">Plan your visit</a><ul class="menu"><li class="first leaf"><a href="/" title="" class="active">Opening Days</a></li>
                  <li class="leaf"><a href="/" title="" class="active">How to get to Typhoon</a></li>
                  <li class="leaf"><a href="/" title="" class="active">Guide park</a></li>
                  <li class="leaf"><a href="/" title="" class="active">Ticket Prices</a></li>
                  <li class="leaf"><a href="/" title="" class="active">Map</a></li>
                  <li class="last leaf"><a href="/" title="" class="active">Annual Pass</a></li>
                  </ul></li>
                  <li class="expanded"><a href="/" title="" class="active">Next Events</a><ul class="menu"><li class="first leaf"><a href="event-detail.html" title="" class="active">Annual Pass</a></li>
                  <li class="leaf"><a href="event-detail.html" title="" class="active">Halloween</a></li>
                  <li class="leaf"><a href="event-detail.html" title="" class="active">Looney tunes action</a></li>
                  <li class="leaf"><a href="event-detail.html" title="" class="active">Toys House</a></li>
                  <li class="last leaf"><a href="event-detail.html" title="" class="active">Bubble Water</a></li>
                  </ul></li>
<li class="last expanded"><a href="/" title="" class="active">About Typhoon</a><ul class="menu"><li class="first leaf"><a href="gallery.html" title="" class="active">Social Gallery</a></li>
<li class="leaf"><a href="about-us.html" title="" class="active">About Us</a></li>
<li class="leaf"><a href="contact-us.html" title="" class="active">Contact Us</a></li>
<li class="leaf"><a href="helps.html" title="" class="active">Helps</a></li>
<li class="last leaf"><a href="privacy.html" title="" class="active">Privacy</a></li>
</ul></li>
</ul>                </div> <!-- /#main-menu -->
                          </div>
              </div>
    </div>
      <div class="footer__bottom clearfix">
        <div class="container">
          <div class="region region-footer">
            <div id="block-block-1" class="block block-block contextual-links-region">
              <div class="content">
              <p>&copy; 2017 Typhoon Water Park. All rights reserved. Designed by Apecsoft</p>
              </div>
            </div>
          </div>

        </div>
      </div> <!-- /#footer -->
      <div class="block-help">
        <a href="helps.html">Help</a>
      </div>
      <div class="block-back-to-top js-back-to-top"><a href="#">back to top</a></div>
    </footer>
{% endblock %}
